* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.header {
  background-color: white;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.logo-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-image img {
  width: 50px;
  line-height: 30px;
}

.logo-image h1 {
  font-size: 30px;
  font-weight: 700;
}

.date {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-right: 20px;
}
.quote {
  color: white;
  margin-top: 30px;
  text-align: center;
  word-wrap: break-word;
}

.quote h1 {
  font-size: 30px;
  padding-bottom: 7px;
}
.writing-image img {
  width: 150px;
  margin-top: 10px;
}

.inform-place {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.inform-place input {
  padding: 8px 40px;
  border: 1px solid white;
}
.inform-place input:focus {
  outline: none;
}
.inform-place .add {
  color: white;
  border: 1px solid white;
  padding: 7px 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  border-right: 10px;
}

ul {
  margin-top: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding-right: 30px;
}
